= render partial: "shared/errors", locals: {errors: @errors}

= render partial: "interestings/form", locals: { interesting: @interesting, url: whiteboard_interestings_path(params[:whiteboard_id]), http_method: :post, submit_text: t('interestings.create_button')}
