= @whiteboard.name

h1= t("new_faces.title")

= @whiteboard_items.new_faces.map(&:name)

br

= link_to t("new_faces.create"), new_whiteboard_new_face_path(@whiteboard.id)

br

= @whiteboard_items.helps.map(&:description)

br

= link_to t("helps.create"), new_whiteboard_help_path(@whiteboard.id)
