= render partial: "shared/errors", locals: { errors: @errors, resource: :events }

= render partial: "event_form", locals: { submit_text: t('events.create_button'), event: @event, url: whiteboard_events_path(params[:whiteboard_id]), http_method: :post }
