= render partial: "shared/errors", locals: {errors: @errors}

= render partial: "help_form", locals: { help: @help, url: whiteboard_help_path(params[:whiteboard_id], params[:id]), http_method: :put, submit_text: t('helps.edit_button')}
