= render partial: "shared/errors", locals: {errors: @errors, resource: :helps}

= render partial: "help_form", locals: { help: @help, url: whiteboard_helps_path(params[:whiteboard_id]), http_method: :post, submit_text: t('helps.create_button') }
