<h2>Interestings</h2>

<% values.each do |interesting| %>
  <article>
    <h3><%= interesting.title %></h3>
    <time><%= interesting.date %></time>
    <p><%= markdown_to_html interesting.description %></p>
  </article>
<% end %>
