<!DOCTYPE html>
<html>
<head>
  <title>Persistence</title>
  <%= stylesheet_link_tag    "persistence/application", media: "all" %>
  <%= javascript_include_tag "persistence/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
